<!DOCTYPE html>
<html lang="ru-RU">
    <head>
        <meta charset="UTF-8"/>
        <title>Shadow.by</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='style.css')}}">
    </head>
    <body>
        <nav class="nav_menu">
            <ul>
                <li><a href="/"><div class="title">SHADOW.BY</div></a></li>
                <li><a href="" class="menu"> Категории </a>
                    <ul>
                        {% for i in categories %}
                        <li><a href="{{ i[1] }}">{{ i[0] }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li><a href="" class="menu" id="sites"> Источники </a></li>
                <li><a href="" class="menu"> Категории </a></li>
                <li><a href="" class="menu"> Дополнительно </a>
                </li>
                <li id="form">
                    <form action="/search">
                        <input name="data" type="text" placeholder="Искать здесь...">
                        <button type="submit"></button>
                    </form>
                </li>
            </ul>
        </nav>
        <br /><br /><br />
        {% for i in all %}
            <div class="Article">
                    {{ i['name'] }} {{ i['norm_time'] }}
                    <br /><br />
                <a href="{{ i['link'] }}" target="_blank"> {{ i['header'] }} </a> <br />
                {{ i['text'] }}
            </div>
        {% endfor %}
    </body>
</html>
